.evento-footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: rgba(218, 210, 210, 0.247);
    // padding-bottom: 3rem;
    border-top: 1px solid  rgb(224, 224, 224);
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;

   

    
    .logo-img{
        width: 5rem;
  }




}