.nav-bar {
  padding: 1rem 2.2rem 0 2.2rem;
  color: $clr3;
  background-color: white;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(224, 224, 224);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;


  @include for-narrow-layout {
    // position: fixed;
    // top: 0;
    // width: 100%
  }


  .logo-img {
    width: 9rem;
    margin-left: 2rem;

    @include for-narrow-layout {
      margin-left: 0;
    }
  }

  .user-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: $clr3;
    background-color: $clr7;
    padding: 5px 12px;
    border-radius: 1.5rem;
    border: none;
    transition: background-color&color 0.25s ease-in;
    // transition: color 0.25s ease-in;

    &:hover {
      background-color: $clr1;
      color: $clr5;
    }
  }
}

.nav-links {
  list-style: none;
  height: 52px;

  a {
    color: $clr3;
    font-size: 1rem;
    margin-right: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s ease-in;

    &:hover {
      color: $clr1;
    }

    @include for-normal-layout{
      display: none;
    }
  }

  li {
    &:hover {
      color: $clr2;
    }
  }

  .btn-menu {
    display: none;

    @include for-normal-layout {
      display: inline;
    }
  }

}

.bm-burger-button {
  top: 1.5rem;
  display: none;

  @include for-normal-layout {
    display: block;
  }
}

.bm-menu {
  background-color: $clr1;
  padding: 2rem 0rem 0rem 0rem;
}

.mobile-name {
  color: white;
}

.mobile-user {
  li {
    font-size: smaller;
    margin-right: 1rem;
  }

  padding: 0rem 0rem 0rem 0rem;
  color: white;
}

.mobile-avatar {
  margin-bottom: 1rem;
}