* {
    box-sizing: border-box;
}

#app {
  // text-align: center;
  color: $clr2;
}

@font-face {
  font-family: Mada;
  src: url(/frontend/src/assets/fonts/Mada/Mada-Medium.ttf);
}
@font-face {
  font-family: Mallanna;
  src: url(/frontend/src/assets/fonts/Mallanna/Mallanna-Regular.ttf);
}
html {
  background-color: white;
  color: $clr2;
    width: 100%;
    height: 100vh;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Raleway-Medium';
    // font-family: 'VarelaRound-Regular';
  // font-family: Mada;
  font-family: Mallanna, sans-serif;
    // font-weight: lighter;
}

body{
  margin: 0;
}


button{
  cursor: pointer;
  outline: none;
}

ul {
  list-style-type: none;
}

li{
  cursor: pointer;
}
a{
  cursor: pointer;
}

h1,h2,h3,h4{
  font-family: Mallanna, sans-serif;
  // font-weight: normal;
  // font-family: Mada, serif;
}




h1 {
  font-size: 2rem;
  color: $clr4;
}

h2 {
  font-size: 1.5rem;
  
}

h3 {
  font-size: 1.2rem;
  color: $clr4;
}

h4 {
  font-size: 1rem;
  color: $clr4;
}
