.about {
  color: #978d8df6;
  text-align: center;

  .about-h1 {
    font-size: 3.5rem;
    color: #978d8df6;;
    }
  
    .about-h2 {
      font-weight: lighter;
    }
  
    .about-txt {
      margin: 1rem 16rem;
    }
    .about-card-h3 {
      font-weight: lighter;
      font-size: 1.2rem;
      font-weight: bold;
            color: #646161f6;

    }
    
    .about-card-h4 {
      font-weight: lighter;
      
    }



.about-card { 
    display: inline-grid;
    background-color: white;
    margin: 1rem;
    break-inside: avoid;
    transition: 0.3s;
    break-inside: avoid-column;
    page-break-inside: avoid;
    width: 15.2rem;
    height: 23rem;
    // border: 1rem;
    // border-width: 0.2rem;
    border-color: #e5e5e5;
    border-radius: 0.5rem;
    border-style: solid;
    margin-top: 2rem;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: .15s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-column-break-inside: avoid;
    overflow: hidden;

    &:hover {
      transform: scale(1.080);
    }
  }
  
  
  .contact-btn {
    margin: 1rem 5.5rem;
    color: white;
    background-color: #906ed4;
    width: 4rem;
    font-size: 0.8rem;
    font-weight: lighter;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    outline: none;
    // border-style: solid;
    // border-color: #d7d5da;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover{
      // font-weight: bold;
      // color: #5e17eb;
      background-color: #bbb9c0;
    // background-image: linear-gradient(120deg, #ff6600 0%, #ffe600 100%);
    }
  }
  


}