
.home {
  
  .hp-content {
    padding: 0 5rem;
  }
  .el-row {
        display: flex;
        justify-content: center;
        // margin-top: 1rem;
        // margin-top: 0.5rem;
        // margin: 0.5rem 3rem 0 3rem;
        .el-button {
          padding: 0.7rem 2.5rem;
          margin: 0 1.2rem;
        }
      }
    
    .carousel-h3{

      margin: 1rem 0;
      // border-top: 1px solid  rgb(209, 209, 209);
      border-bottom: 1px solid  rgb(209, 209, 209);
      display: flex;
      justify-content: space-between;

      h3 {
        color: $clr2;
      }

      a {
        text-decoration: none;
        color: #705285e0;

          &:hover{
         color: #3480ccad;
         }

      }
    }
}
 
.centered-header {
  
    color: white;
    position: absolute;
    padding: 2rem 1rem;


    @media (max-width:1080px) {
      float: none;
    }
    @media (min-width:1080px) {
      text-align: left;
    }
  }
  


.hp-h1{
  color: $clr5;
  font-size: 3rem;
  margin-left: 4rem;
  margin-top: 2em;
  text-shadow: 1px 1px 3px black;
  // margin-bottom: 4rem;
  // text-align: center;
}


  .home-hero {
    width: 100%;
    min-height: 25rem;
    max-height: 34rem;
    margin-bottom: 0.7rem;
  }

 
.hp-btn {
  color: $clr5;
  background-color: $clr6;
  margin: 0 0  0 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 3rem;
  // border: solid;
  // border-color: rgba(255, 255, 255, 0.808);
  border-radius: 0.5rem;
  // width: 15rem;
  text-decoration: none;
  margin-left: 4rem;
  cursor: pointer;

  &:hover{
    background-color: $clr3;
  }
}


.sub-nav-bar {
  color: $clr2;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
  justify-content: space-between;
  display: flex;

  .hp-sub-link-1 {
    padding-top: 1rem;
  }
      a {
        color: $clr2;
        font-size: 1.3rem;
        margin: 1rem 1rem;
        text-decoration: none;
        &:hover {
        background-size: 100% 15%;
        }
      }
        .hp-sub-link-2 {
        display: flex;
        list-style: none;
        margin: 15px;
  }
}



      
